* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

strike {
  font-size: 19px;
}

*:not(svg, path) {
  color: white;
}

body {
  height: 100vh;
}

.MuiOutlinedInput-notchedOutline {
  border: 2px solid white !important;
}

label {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}

div[aria-busy="true"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
